*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', serif;
    width: auto;
    box-sizing: border-box;
}
.insta_logo , .fb_logo{
    width: 30px;
    padding-right: 2px;
}
.honda_badge{
    width:80px;
    padding-right: 20px;
    padding-left: 10px;
    
}
html{
    width: 100%;   
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("action_background.jpg");
    background-size:cover;
    background-position: center ;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.nav_bar{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    width:100%;   
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 15px;
    letter-spacing: 1px;
    color: white;
}
.socials{
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liko_prof , .bregu_prof , .zooka_prof ,
.roni_prof , .loumsi_prof{
    width:20px;
    border-radius: 20px;
    height: 20px;
    padding-right: 5px;
}
.links_inst{
    text-decoration: none;
    color: white;
}
.user_info{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    border: none;
}
.facebook , .insta{
    margin-right: 20px;
}

.sub_menu_wrap{
    position: absolute;
    top:10%;
    right: 4%;
    box-shadow:  0px  0.5px 0px white , 0px 3px 5px red;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.sub_menu{
    background: transparent;
    padding: 10px;
    margin: 10px;
}
.sub_menu_wrap.open_menu{
    max-height: 400px;
}
.sub_menu_wrap_fb{
    position: absolute;
    top:10%;
    right: 1%;
    box-shadow:  0px  0.5px 0px white , 0px 3px 5px blue;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.typer{
    width: 500px;
    background:linear-gradient(rgb(0,0,0,0.6)),(rgb(0,0,0,0.6)) black;
}
.sub_menu_fb{
    background: transparent;
    padding: 10px;
    margin: 10px;
}
.sub_menu_wrap_fb.open_menu{
    max-height: 400px;
}
.video_container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;

}
.video_container .video{
    height: 8rem;
    width: 8rem;
    margin: 25px;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
    overflow: hidden;
    border-color: #555555;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}
.video_container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}
.video_container .video video:hover{
    transition: 0.6s linear;
    transform: scale(1.3);
}
.nights_header{
    color: white;
    text-shadow: 0px 0px 3px grey , 0px 0px 3px white;
    font-weight: lighter;
    padding-bottom: 70px;
    transition: ease-in-out 3s;
}
.our_nights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.text_under_vid{
    color:white;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: 'Arial' serif;
    font-weight: lighter;
}
.video_container .video .active{
    position: fixed;
    top: 40%; left: 55%;
    transform: translate(-50% ,-50%);
    height: 100vh;
    width: auto;
    box-shadow: 0 0 0 100vh rgba(0,0,0,0.7);
    z-index: 1;
}
.video_container .video .active:hover{
    transition: none;
    transform:translate(-50% ,-50%) scale(1);
}
