*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', serif;
    width: auto;
}

.insta_logo , .fb_logo{
    width: 30px;
    padding-right: 5px;
}
.honda_badge{
    width:60px;
    padding-right: 20px;
    padding-left: 10px;
    
}
html{
    width: 100%;   
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("html_background.jpg");
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.nav_bar{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    z-index: 10;

}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 15px;
    letter-spacing: 1px;
    color: white;
}
.socials{
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liko_prof , .bregu_prof , .zooka_prof ,
.roni_prof , .loumsi_prof{
    width:20px;
    border-radius: 20px;
    height: 20px;
    padding-right: 5px;
}
.links_inst{
    text-decoration: none;
    color: white;
}
.user_info{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    border: none;
}
.facebook , .insta{
    margin-right: 20px;
}

.sub_menu_wrap{
    position: absolute;
    top:10%;
    right: 4%;
    box-shadow:  0px  0.5px 0px white , 0px 3px 5px red;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.sub_menu{
    background: transparent;
    padding: 10px;
    margin: 10px;
}
.sub_menu_wrap.open_menu{
    max-height: 400px;
}
.sub_menu_wrap_fb{
    position: absolute;
    top:10%;
    right: 0%;
    box-shadow:  0px  0.5px 0px white , 0px 3px 5px blue;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.typer{
    width: 500px;
    background:linear-gradient(rgb(0,0,0,0.6)),(rgb(0,0,0,0.6)) black;
}
.sub_menu_fb{
    background: transparent;
    padding: 10px;
    margin: 10px;
}
.sub_menu_wrap_fb.open_menu{
    max-height: 400px;
}
/* --------------HOME--------------------- */

.home{
    display: flex;
    align-items: center;
    height: 280px;
    flex-direction: column;
    margin-top: 150px;


}
.quote{
    color: white;
    padding: 20px;
    letter-spacing: 5px;
    font-size: 15px;
    line-height: 25px;
    transition: linear 2s;
    font-family: 'Arial' , serif;
    font-weight: lighter;
    width: 300px;
}
.unknown{
    color: lightgrey;
    padding-left: 200px;
    transition: ease-in-out 3s;

}
/*----------CREW-------------*/

.hero{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100vh;

}
.meet_header{
    margin: 80px auto;
    color: white;
    font-weight: lighter;
    transition: ease-in-out 1s;
    text-align: center;

}
.crew_img_size{
    width: 400px;
    transition: ease-in-out 4s;
}
.name{
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 2px white , 0px 0px 3px red;
    
}
.slide_row{
    display:flex;
    width: 100%;
    flex-direction: column;
}
.slide_col_1 , .slide_col_2 , .slide_col_3
, .slide_col_4 , .slide_col_5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 20px;
    
}
.username{
    color: white;
    padding-bottom: 10px;
}
